<!DOCTYPE html>
<html>
<head>
  <meta name="p:domain_verify" content="da6b5b01e6f5fdc67573e7bb452644d2"/>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-245172337-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-245172337-1');
  function avoidKeyboard(){
      setTimeout(
          ()=>{reference.current.querySelectorAll(".mainbox, .logo-img, .login-anchor, .register-anchor, label, button").style.height = "calc(100vh)"}
      ,2000)
  }

  return (
      <ref={reference} div>
         <input type="text" id="win" onFocus={avoidKeyboard} onBlur={avoidKeyboard}/>
      </div>
  )
document.title="Best and Affordable places to travel";
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6689386759174348"
     crossorigin="anonymous"></script>
<meta name="google-site-verification" content="2fwIF7KRmXSqP80k5r0U1Vc1aorWpuzaoL0ypLdRDrY" />
<meta name="viewport" content= "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta charset="utf-8">
  <meta dir="ltr">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Do you want to experience an wholesome trip, Searplore is the perfect website which enables
  users to find choose amoung preferred destinations at an affordable rate.">
  <link href="css/login.css" type="text/css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
  <link rel=" shortcut icon" type="x-icon" href="img/searplore-logo.png">
  <title>Best and Affordable places to travel</title>
  </head>
  <body>
    <nav>
      <img class="logo-img" src="img/searplore-logo.png"/>
      <ul>
        <button class="login-anchor"><a href="/">Login</a></button>
            <button class="register-anchor" ><a href="/register">Register</a></button>
        </ul>
    </nav>
    <div class="parent-box-div">
    <div class="mainbox">
        <div class="parent-form">
      <form action="/" method = "POST" class="text-boxx">
      <label class="user">USERNAME</label><input name="username" type="text" placeholder="Username"/>
      <label class="pass">PASSWORD</label><input name="password" type="password" placeholder="Password"/>
      <button class="login-btn-style" type="submit" name="login-btn">LOGIN</button>
      <div class="btn-parent">
      <div class="btn-design">
      <a class="google-style" href="/auth/google" type="submit" name="google-btn"></a>
    </div>
  </div>
      </form>
     </div>
     </div>
   <script type="text/javascript" src="backend.js"></script>
    </body>
</html>
