*{
  box-sizing:border-box;
}
body,html{
  background-image:url("land-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin:0;
  padding:0;
  font-size:16px;

}
nav ul{
  display: flex;
  justify-content: flex-end;
  margin-right:30px;
}
.logo-img{
  position:absolute;
  margin:-40px 10px 0px;
  width:185px;
}
nav > ul > .login-anchor,.register-anchor{
  margin:2% 10px 0px;
  border-radius:10vmax;
  box-shadow:0.1vmax 0.1vmax 1vmax black;
  border:none;
  padding:10px;
  width:120px;
  font-size:20px;
  background-color:#45ADD1;
  margin-right:20px;
}
.login-anchor:hover, .register-anchor:hover{
  text-shadow:0 0 4px lightblue;
  cursor:pointer;
}
a{
  text-decoration:none;
  color:white;
  font-family:'Quicksand';
}
.mainbox{
position:absolute;
left:50%;
top:140px;
background-color: #232825;
transform:translate(-50%,0%);
box-shadow:0 0 10px black;
padding:30px 20px 0px;
border-radius:50px;
}
.mainbox input[type="password"]{
margin-bottom:50px;
}
.mainbox input{
  margin-bottom:20px;
  background-color: #1D211F;
  border-radius:100px;
  margin-left:150px;
  outline:none;
  color:white;
  display:flex;
  border:none;
  padding:3.5%;
  width:250px;
}
input::placeholder{color:white;}
label{
  position:absolute;
  margin:10px 10px 0;
    font-family: 'Secular One', sans-serif;
  font-size:15px;
  color:white;
}
.login-btn-style{
  width:120px;
  padding:3%;
  border-radius:100px;
    background-color:#45ADD1;
  margin-left:36%;
  border:none;
  font-weight: bold;
  justify-content: center;
  color:white;
  cursor:pointer;
}
.btn-parent{
  display: flex;
  justify-content: center;
  width:68px;
  background-color:white;
  height:8.6rem;
  border-radius:50px 50px 0px 0px;
  margin:25px 42% 0px;
}
.btn-design{
  width:50px;
  margin-top:10px;
  background-image:url("img/googlelogo.png");
  background-size:90% 90%;background-position:center;
background-repeat: no-repeat;
  border-radius:50px;
  height:50px;
  background-color: #00F2F2;
}
.btn-design:hover{
  cursor: pointer;
  box-shadow:0 0 2px black;
}
@media only screen and (max-width:625px) and (orientation:portrait){
  .mainbox input{width:200px;}
}
@media only screen and (max-width:800px) and (orientation:portrait){
  body,html{background-image:url("mobile-login.png");}
  .mainbox{margin-top:140px;}
  nav > ul > .login-anchor, .register-anchor{width:90px;font-size:12px;}
  .logo-img{width:145px;}
}
@media only screen and (max-width:450px) {
    nav > ul > .login-anchor, .register-anchor{width:70px;font-size:8px;}  .logo-img{width:130px;margin-left:-10px;}
  .mainbox input{width:120px;padding:5px;}.btn-design{height:40px;width:40px;margin-top:5px;}input::placeholder{padding-left:10px;font-size:0.5rem;}
  label{font-size:0.7rem;margin-top:5px;}.btn-parent{height:100px;width:50px;}.login-btn-style{margin-left:33%;margin-top:-10%;width:100px;padding:10px;}
}
@media only screen and (max-width:320px) and (orientation:portrait){
  .mainbox input{width:100px;padding:2.5px;}.btn-design{height:40px;width:40px;margin-top:5px;}input::placeholder{padding-left:12px;font-size:0.5rem;}
  label{font-size:0.7rem;margin-top:2px;}.btn-parent{height:100px;width:50px;}.login-btn-style{margin-left:33%;margin-top:-10%;width:100px;padding:10px;}
}
