*{box-sizing:border-box;}
body{
  position: relative;
  display: block;
  margin:0;
  padding:0;
  font-size:16px;
  min-height:100vh;
  background-color:#282828;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
.imgg-mobile{display: none;}
.imgg{
  position: relative;
  background-image: url("maintop-background.png");
  width:90%;
  margin-top:2.8%;
  margin-left: 5%;
  box-shadow:0 0 4px #00FF67;
  border-radius: 5%/15%;
  border: none;
}
.search-results{
position:absolute;
display:flex;
justify-content: center;
color:white;
font-weight:bold;
align-items: center;
border-radius: 3%/30%;
font-family:'Quicksand', sans-serif;
font-size:1.4vw;
margin-left:10%;
background-color:#1C89EA;
}
button > img{
  position:absolute;
  width:50%;
  top:26%;
  left:26%;
}
.parent-header{
  position: relative;
  width:100%;
}
.para-txt{
  position:absolute;
  top:12%;
  right:10%;
  font-weight:bold;
  font-family:'Roboto','cursive';
  font-size:2.2vw;
  -webkit-text-stroke:0.03rem;
  -webkit-text-stroke-color:black;
  color:white;
}
 .next-txt{
    font-family:'Roboto','cursive';
  object-fit:cover;
  margin-top:-4%;
  margin-left:43%;
}
.logo-img-home{
  position:absolute;
  margin-top:-31%;
  margin-left:5%;
  width:9%;
}

.submit-text input{
  font-size:1.9vw;
  padding:2%;
  position:absolute;
  margin-top:-3.5%;
  margin-left: 22.5%;
  outline:none;
  font-weight: bold;
  text-transform: uppercase;
  border:1px solid black;
  border-radius:100px;
  padding-left: 4%;
  color:white;
  background-color: rgb(0,10,10);
  width:55vw;
}
input::placeholder{
  position: absolute;
  font-size:1.2vw;
  padding-top:1%;
font-weight:bold;
color:white;
}

.submit-text button{
  padding:2.5%;
  position:absolute;
  margin-top:-2.8%;
  margin-left: 71.5%;
  outline:none;
  background-color: rgb(0,90,90);
  border:none;
  border-radius:100px;
  cursor:pointer;
}
.content-box{
  position:absolute;
  margin-left:0.85%;
  margin-top:15%;
  border:1px solid white;
  z-index:-5;
  width:97vw;
  background-color:#1F2321;
  border-radius:5%/10% 10% 0 0;
}

.flightBox{
padding-top:2%;margin-top:15%;margin-left:10%;width:80%;background-color:#262626;border-radius:5vmax;z-index:-4;
box-shadow:0 0 10px #000000;overflow:hidden;margin-bottom: 5%;
  border-radius: 6%/17%;
}
.flight-img{
  border-radius:10%/30%;
  margin-left:6.5%;
  width:15%;
  border:1px solid white;
}
.iata-details{
  display: flex;
  margin-top:-4%;
  margin-left:6%;
}
.origin-data, .destination-data{
font-size:2.5vw;
color:#FFFFFF;;
margin-left:20%;
margin-top:-0.4%;
font-family: 'Yantramanav', sans-serif;
}
.arrow-des{
  width:12%;
  margin-left:21%;
  position: absolute;
  margin-top:0.5%;
}
.down-color{
  background-color:#1C1C1C;
  margin-top:5%;
    padding:4%;
}
.departure-des{margin-left:5%;font-size:2vw;color:#00FFAA;font-family:'Raleway', sans-serif;font-weight:lighter;}
  .return-des{margin-left:5%;font-size:2vw;color:#00FFAA;font-family:'Raleway', sans-serif;font-weight:lighter;}
  .span-dep{margin-top:-3.4%;color:#00FFAA;position: absolute;margin-left:16%;font-size:1.6vw;font-family: 'Rajdhani', sans-serif;}
  .span-return{margin-top:-3.4%;color:#00FFAA;position:absolute;margin-left:13%;font-size:1.6vw;font-family: 'Rajdhani', sans-serif;}
  .grey-radius{
    width: 21%;
      overflow: hidden;
      position: absolute;
      padding: 12% 11% 15%;
      display: flex;
      border-radius: 15%/18%;
      top:32%;
      left:68%;
      /* margin: -27% 54% 0; */
      background-image: linear-gradient(to bottom,#03CFE5,#02B557);
      justify-content: center;
  }
.price-des{font-size: 4.4vw;
    color: white;
    text-shadow: 0 0 3px black;
    font-family: 'Exo', sans-serif;
    top: 10%;
    position: absolute;}
.flightnum-des{text-shadow: 0 0 5px black;
    font-weight: bold;
    font-family: 'Quicksand';
    font-size: 1.5vw;
    text-align: center;
    color: white;
    position: absolute;
    top: 45%;}
.transfer-des{font-size: 1.8vw;
    text-shadow: 0 0 0.7px black;
    position: absolute;
    bottom: 0%;
    background-image: linear-gradient(to bottom,#00F3FF,#00DBFF);
    padding: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #4A77F4;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;}
  @media only screen and (max-width:450px){
    .arrow-des{margin-left:21.5%;margin-top:0.1%;}
    .origin-data, .destination-data{margin-top:-1.2%;}
    .span-dep{margin-top:-3.4%;}
    .span-return{margin-top:-3.4%;}
  }
  @media only screen and (max-width:250px){
    .origin-data,.destination-data{margin-top:-2.7%;}
    .arrow-des{margin-left:21%;margin-top:-1.4%;}
  }
  @media only screen and (max-width:986px){
    .arrow-des{margin-left:23%;}
      .flightBox{width:90%;padding:3.2% 3.2% 0%;margin-left:5%;}.down-color{padding:6% 0 8%;margin-left:-4%;}
      .departure-des{font-size: 2.7vw;margin-left:6%;}
      .return-des{font-size:2.7vw;margin-left:6%;}
      .span-dep{font-size:2.3vw;margin:-4.8% 21% 0;}
      .span-return{font-size:2.3vw;margin:-4.8% 17% 0%;}
      .price-des{font-size: 5.5vw;
    }
      .flightnum-des{
    font-size: 2.5vw;}
      .transfer-des{font-size:2.5vw;padding:8%;}
      .grey-radius{
    padding: 15% 10% 22%;
    top:26%;
    left:61%;
    width: 34%;}
  }
 @media only screen and (max-width:500px){
   .arrow-des{margin-left:24%;}
     .flightBox{width:95%;padding:3.2% 3.2% 0%;margin-left:2.5%;}.down-color{padding:6% 0 10%;}
       .grey-radius{padding: 17% 13% 23%;top:25%;
       left:64%;}

     .imgg{display: none;}.imgg-mobile{display: block;  position: relative; width:90%;margin-top:2.8%;margin-left: 5%;box-shadow:0 0 4px #00FF67;
       border-radius: 10%/20%; border: none;}

     .transfer-des{font-size: 2.5vw;
    margin: 10% 0% 0%;
    padding: 8%;
    border-radius: 0 0 18%/68% 0;}
     .logo-img-home{
       margin:-49.2% 4% 0;
       width:16%;
     }
     .para-txt, .next-txt{
       font-size:3.2vw;  top:11%;
         right:10%;
    }
 }
